@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-button {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
    border: none;
    border-radius: 2px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(150, 150, 150, 0.5);
    border: none;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-corner {
    background: transparent;
  }

  ::-webkit-scrollbar-track:hover {
    background: transparent;
  }

  ::-webkit-scrollbar-track:active {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(150, 150, 150, 0.7);
  }

  ::-webkit-scrollbar-thumb:active {
    background: rgba(150, 150, 150, 0.9);
  }

  @font-face {
    font-family: 'Helvetica Neue';
    src: url("https://res.cloudinary.com/pv-duc/raw/upload/v1645011692/fonts/Helvetica/helvetica-neue-medium.ttf") format('opentype');
    font-weight: 500;
    font-display: swap;
  }

  @font-face {
    font-family: 'Helvetica Neue';
    src: url("https://res.cloudinary.com/pv-duc/raw/upload/v1645011691/fonts/Helvetica/helvetica-neue-bold.ttf") format('opentype');
    font-weight: 700;
    font-display: swap;
  }

  @font-face {
    font-family: 'Helvetica Neue';
    src: url("https://res.cloudinary.com/pv-duc/raw/upload/v1645011692/fonts/Helvetica/helvetica-neue-regular.ttf") format('opentype');
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: 'Helvetica Neue';
    src: url("https://res.cloudinary.com/pv-duc/raw/upload/v1645011691/fonts/Helvetica/helvetica-neue-light.ttf") format('opentype');
    font-weight: 300;
    font-display: swap;
  }
}
