@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-button {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
    border: none;
    border-radius: 2px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(150, 150, 150, 0.5);
    border: none;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-corner {
    background: transparent;
  }

  ::-webkit-scrollbar-track:hover {
    background: transparent;
  }

  ::-webkit-scrollbar-track:active {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(150, 150, 150, 0.7);
  }

  ::-webkit-scrollbar-thumb:active {
    background: rgba(150, 150, 150, 0.9);
  }

  @font-face {
    font-family: 'Helvetica Neue';
    src: url("https://res.cloudinary.com/pv-duc/raw/upload/v1645010952/fonts/Helvetica/HelveticaNeue-Medium.otf") format('opentype');
    font-weight: 500;
  }

  @font-face {
    font-family: 'Helvetica Neue';
    src: url("https://res.cloudinary.com/pv-duc/raw/upload/v1645010952/fonts/Helvetica/HelveticaNeue-Bold.otf") format('opentype');
    font-weight: 700;
  }

  @font-face {
    font-family: 'Helvetica Neue';
    src: url("https://res.cloudinary.com/pv-duc/raw/upload/v1645010952/fonts/Helvetica/HelveticaNeue.otf") format('opentype');
    font-weight: 400;
  }

  @font-face {
    font-family: 'Helvetica Neue';
    src: url("https://res.cloudinary.com/pv-duc/raw/upload/v1645010952/fonts/Helvetica/HelveticaNeue-Light.otf") format('opentype');
    font-weight: 300;
  }
}
